.main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .center {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .form {
    position: relative;
    z-index: 1111111111;
  }
  
  .submitBtn {
    padding: 4px 14px;
    border-radius: 6px;
    border: 0.1mm solid #abc7e1;
    background: #c9d7d9;
  }
  
  .submitBtn:hover {
    background: #acdbe1;
  }